# Laravel
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/minio/*
/vendor
.env
.env.*
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Build
/public/build
/public/mix-manifest.json